@{
    ViewData["Title"] = "Strona główna";
}

<div class="jumbotron">
    <h1>Uniwersytet Gdański</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witam na mojej stronie</h2>
        <p>
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
            Suspendisse a pellentesque dui, non felis. Maecenas
            malesuada elit lectus felis, malesuada ultricies.
            Curabitur et ligula.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.</p>
        <p><a class="btn btn-default" href="#">Lorem ipsum &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.</p>
        <p><a class="btn btn-default" href="#">Lorem ipsum &raquo;</a></p>
    </div>
</div>